In [1]:
# Dependencies
import json
import requests
import os
import pandas as pd
import gmaps
from oc_key import oc_key
from oc_key import g_key

gmaps.configure(api_key=g_key)

In [2]:
# Load city list csv
city_list_toload = "Resources/census_city.csv"

city_list_df = pd.read_csv(city_list_toload)
city_list_df

,Unnamed: 0,City_State,Clean_City,Population,Lat,Lng
0,2838,"Las Vegas, Nevada",Las Vegas,626637.0,36.169941,-115.139830
1,3411,"Albuquerque, New Mexico",Albuquerque,559202.0,35.084386,-106.650422
2,4321,"Charlotte, North Carolina",Charlotte,841611.0,35.227087,-80.843127
3,4439,"New York, New York",New York,8443713.0,40.712775,-74.005973
4,6654,"Columbus, Ohio",Columbus,867628.0,39.961176,-82.998794
5,6919,"Oklahoma City, Oklahoma",Oklahoma City,637284.0,35.467560,-97.516428
6,8455,"Portland, Oregon",Portland,639387.0,45.505106,-122.675026
7,10395,"Philadelphia, Pennsylvania",Philadelphia,1575522.0,39.952584,-75.165222
8,10823,Nashville-Davidson metropolitan government (ba...,Nashville-Davidson metropolitan government (ba...,660062.0,36.149258,-86.757566
9,11491,"Memphis, Tennessee",Memphis,653248.0,35.149534,-90.048980
10,11553,"San Antonio, Texas",San Antonio,1486521.0,29.424122,-98.493628
11,11678,"Dallas, Texas",Dallas,1318806.0,32.776664,-96.796988
12,11728,"El Paso, Texas",El Paso,680354.0,31.761878,-106.485022
13,11734,"Houston, Texas",Houston,2295982.0,29.760427,-95.369803
14,12553,"Fort Worth, Texas",Fort Worth,855786.0,32.755488,-97.330766
15,12570,"Austin, Texas",Austin,935755.0,30.267153,-97.743061
16,13795,"Seattle, Washington",Seattle,708823.0,47.606209,-122.332071
17,15595,"Milwaukee, Wisconsin",Milwaukee,596886.0,43.038902,-87.906474
18,17389,"Phoenix, Arizona",Phoenix,1610071.0,33.448377,-112.074037
19,17477,"Tucson, Arizona",Tucson,539216.0,32.222607,-110.974711
20,18899,"San Diego, California",San Diego,1401932.0,32.715738,-117.161084
21,19104,"Fresno, California",Fresno,522277.0,36.737798,-119.787125
22,19480,"Denver, Colorado",Denver,693417.0,39.739236,-104.990251
23,19803,"San Jose, California",San Jose,1026658.0,37.338208,-121.886329
24,19805,"San Francisco, California",San Francisco,870044.0,37.774929,-122.419415
25,20022,"Los Angeles, California",Los Angeles,3959657.0,34.052234,-118.243685
26,20911,"Washington, District of Columbia",Washington,684498.0,38.903886,-77.010602
27,21756,"Jacksonville, Florida",Jacksonville,878907.0,30.332184,-81.655651
28,23494,"Indianapolis city (balance), Indiana,None","Indianapolis city (balance), Indiana",857637.0,39.768403,-86.158068
29,23811,"Chicago, Illinois",Chicago,2718555.0,41.878114,-87.629798
30,26958,Louisville/Jefferson County metro government (...,Louisville/Jefferson County metro government (...,617032.0,38.251986,-85.759141
31,27002,"Baltimore, Maryland",Baltimore,614700.0,39.290385,-76.612189
32,28450,"Boston, Massachusetts",Boston,679413.0,42.360083,-71.058880
33,28554,"Detroit, Michigan",Detroit,677155.0,42.331427,-83.045754

In [3]:
lats = city_list_df["Lat"].tolist()
longs = city_list_df["Lng"].tolist()
#lats, longs
latlongpair = zip(lats,longs)
latlongpair

In [4]:
# NEXT 5 Cells only used while testing my queries to the API - not needed in final

#latitude = 42.331427
#longitude = -83.045754

In [5]:
# Set the url for the Open Charge Map
#query_url = f"https://api.openchargemap.io/v3/poi/?output=json&client=DVProject1&countrycode=US&maxresults=500&distance=50&distanceunit=miles&verbose=false&compact=true&latitude={latitude}&longitude={longitude}&key={oc_key}"
#query_url = f"https://api.openchargemap.io/v3/poi/?output=json&client=DVProject1&countrycode=US&verbose=false&compact=true&latitude={latitude}&longitude={longitude}&key={oc_key}"


# Example url from API doc
#url = "https://api.openchargemap.io/v3/poi/?output=json&countrycode=US&maxresults=10&compact=true&verbose=false"

#print(query_url)

In [6]:
#charge_data = requests.get(query_url)
#print(charge_data.status_code)

In [7]:
#charge_json = charge_data.json()

#json.dumps(charge_json[0], indent=2)

In [8]:
#print(len(charge_json))

In [9]:
# list to capture station count per city
station_count = []

# Loop through each city and get a count of how many electric charge stations within 50 miles of center lat/long
for latlongpair in latlongpair:
    query_url = f"https://api.openchargemap.io/v3/poi/?output=json&client=DVProject1&countrycode=US&maxresults=3000&distance=50&distanceunit=miles&verbose=false&compact=true&latitude={latlongpair[0]}&longitude={latlongpair[1]}&key={oc_key}"
    charge_data = requests.get(query_url)
    charge_json = charge_data.json()
    station_count.append(len(charge_json))

In [10]:
station_count

[235,
 41,
 271,
 1187,
 235,
 103,
 486,
 453,
 275,
 76,
 148,
 615,
 47,
 352,
 599,
 384,
 649,
 123,
 503,
 91,
 700,
 217,
 570,
 1747,
 1919,
 2960,
 1116,
 143,
 126,
 569,
 108,
 1097,
 780,
 272]

In [11]:
# Add station count to the data frame and kick out a CSV
city_list_df["Number of Stations"] = station_count
city_list_df.to_csv('station_count_by_city.csv', index=False)
city_list_df

,Unnamed: 0,City_State,Clean_City,Population,Lat,Lng,Number of Stations
0,2838,"Las Vegas, Nevada",Las Vegas,626637.0,36.169941,-115.139830,235
1,3411,"Albuquerque, New Mexico",Albuquerque,559202.0,35.084386,-106.650422,41
2,4321,"Charlotte, North Carolina",Charlotte,841611.0,35.227087,-80.843127,271
3,4439,"New York, New York",New York,8443713.0,40.712775,-74.005973,1187
4,6654,"Columbus, Ohio",Columbus,867628.0,39.961176,-82.998794,235
5,6919,"Oklahoma City, Oklahoma",Oklahoma City,637284.0,35.467560,-97.516428,103
6,8455,"Portland, Oregon",Portland,639387.0,45.505106,-122.675026,486
7,10395,"Philadelphia, Pennsylvania",Philadelphia,1575522.0,39.952584,-75.165222,453
8,10823,Nashville-Davidson metropolitan government (ba...,Nashville-Davidson metropolitan government (ba...,660062.0,36.149258,-86.757566,275
9,11491,"Memphis, Tennessee",Memphis,653248.0,35.149534,-90.048980,76
10,11553,"San Antonio, Texas",San Antonio,1486521.0,29.424122,-98.493628,148
11,11678,"Dallas, Texas",Dallas,1318806.0,32.776664,-96.796988,615
12,11728,"El Paso, Texas",El Paso,680354.0,31.761878,-106.485022,47
13,11734,"Houston, Texas",Houston,2295982.0,29.760427,-95.369803,352
14,12553,"Fort Worth, Texas",Fort Worth,855786.0,32.755488,-97.330766,599
15,12570,"Austin, Texas",Austin,935755.0,30.267153,-97.743061,384
16,13795,"Seattle, Washington",Seattle,708823.0,47.606209,-122.332071,649
17,15595,"Milwaukee, Wisconsin",Milwaukee,596886.0,43.038902,-87.906474,123
18,17389,"Phoenix, Arizona",Phoenix,1610071.0,33.448377,-112.074037,503
19,17477,"Tucson, Arizona",Tucson,539216.0,32.222607,-110.974711,91
20,18899,"San Diego, California",San Diego,1401932.0,32.715738,-117.161084,700
21,19104,"Fresno, California",Fresno,522277.0,36.737798,-119.787125,217
22,19480,"Denver, Colorado",Denver,693417.0,39.739236,-104.990251,570
23,19803,"San Jose, California",San Jose,1026658.0,37.338208,-121.886329,1747
24,19805,"San Francisco, California",San Francisco,870044.0,37.774929,-122.419415,1919
25,20022,"Los Angeles, California",Los Angeles,3959657.0,34.052234,-118.243685,2960
26,20911,"Washington, District of Columbia",Washington,684498.0,38.903886,-77.010602,1116
27,21756,"Jacksonville, Florida",Jacksonville,878907.0,30.332184,-81.655651,143
28,23494,"Indianapolis city (balance), Indiana,None","Indianapolis city (balance), Indiana",857637.0,39.768403,-86.158068,126
29,23811,"Chicago, Illinois",Chicago,2718555.0,41.878114,-87.629798,569
30,26958,Louisville/Jefferson County metro government (...,Louisville/Jefferson County metro government (...,617032.0,38.251986,-85.759141,108
31,27002,"Baltimore, Maryland",Baltimore,614700.0,39.290385,-76.612189,1097
32,28450,"Boston, Massachusetts",Boston,679413.0,42.360083,-71.058880,780
33,28554,"Detroit, Michigan",Detroit,677155.0,42.331427,-83.045754,272

In [12]:
# Set up a heat map for charging stations
locations = city_list_df[["Lat","Lng"]]
stationct = city_list_df["Number of Stations"].astype(float)

In [17]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=stationct, dissipating=False, max_intensity=750, point_radius=2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# THIS WAS A BAD IDEA - poi.json is WAY too big...


#filepath = os.path.join("Resources", "poi.json")
#with open(filepath, encoding="utf8") as jsonfile:
#    open_charge = json.load(jsonfile)

In [ ]:
# THIS WAS ALL WORKING WITH THE FULL DATA SET BUT THERE'S a CHAR ISSUE SOMEWHERE

#js = [json.loads(line) for line in open(filepath, encoding="utf8")]
#for item in js:
    #name = item.get("name")
    #businessID = item.get("business_id")

In [ ]:
#filepath = os.path.join("Resources", "poi.json")

#print(json.dumps(filepath, encoding="utf8", indent=4, sort_keys=True))