In [44]:
# Dependencies
import pandas as pd
import requests
import json

# OpenWeather & gmaps API Keys
from config import (api_key,gkey)

cities_pd = pd.read_csv("../Resources/census_city.csv")

# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = 'imperial'

# delete the unamed index column
del cities_pd['Unnamed: 0']

cities_pd.head()

                  City_State   Clean_City  Population        Lat         Lng
0          Las Vegas, Nevada    Las Vegas    626637.0  36.169941 -115.139830
1    Albuquerque, New Mexico  Albuquerque    559202.0  35.084386 -106.650422
2  Charlotte, North Carolina    Charlotte    841611.0  35.227087  -80.843127
3         New York, New York     New York   8443713.0  40.712775  -74.005973
4             Columbus, Ohio     Columbus    867628.0  39.961176  -82.998794

In [42]:
# build Query URL

base_url = f"{url}appid={api_key}&units={units}&q="
#print(query_url)

In [48]:
# Build lists for lat & lon

for index, row in cities_pd.iterrows():
    
    query_url = base_url + row[1]
    response = requests.get(query_url).json()

    print(json.dumps(response, indent=4, sort_keys=True))

    
    
# max_temp = []
# min_temp = []
# avg_temp = []
# count = count + 1

# for city in cities_pd:
#     city_response = requests.get(query_url+lat+lng).json
#     print(json.dumps(weather_response, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 20
    },
    "cod": 200,
    "coord": {
        "lat": 42.33,
        "lon": -83.05
    },
    "dt": 1604164979,
    "id": 4990729,
    "main": {
        "feels_like": 31.95,
        "humidity": 49,
        "pressure": 1028,
        "temp": 45.81,
        "temp_max": 46.4,
        "temp_min": 44.6
    },
    "name": "Detroit",
    "sys": {
        "country": "US",
        "id": 3806,
        "sunrise": 1604145887,
        "sunset": 1604183200,
        "type": 1
    },
    "timezone": -14400,
    "visibility": 10000,
    "weather": [
        {
            "description": "few clouds",
            "icon": "02d",
            "id": 801,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 180,
        "gust": 25.28,
        "speed": 17.22
    }
}

In [ ]:
# Determine and add Temperatures

In [ ]:
# Create a heat map using Temperature as weight

In [ ]:
# Great box plots for min and max temperatures to identify outliers visually

In [ ]:
# Remove Outliers and build new data frame and clean csv file