In [6]:
# Dependencies
import pandas as pd
import requests
import json
import numpy as np


# OpenWeather & gmaps API Keys
from config import (api_key,gkey)

cities_pd = pd.read_csv("../Resources/census_city.csv")

# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = 'imperial'

# delete the unamed index column
del cities_pd['Unnamed: 0']

cities_pd.head()

                  City_State   Clean_City  Population        Lat         Lng
0          Las Vegas, Nevada    Las Vegas    626637.0  36.169941 -115.139830
1    Albuquerque, New Mexico  Albuquerque    559202.0  35.084386 -106.650422
2  Charlotte, North Carolina    Charlotte    841611.0  35.227087  -80.843127
3         New York, New York     New York   8443713.0  40.712775  -74.005973
4             Columbus, Ohio     Columbus    867628.0  39.961176  -82.998794

In [7]:
# Pull in tempatures into a list to add to dataframe

cities_pd["Max Temp"] = np.nan
cities_pd["Min Temp"] = np.nan

base_url = f"{url}appid={api_key}&units={units}&q="

for index, row in cities_pd.iterrows():
    query_url = base_url + row[1]
    response = requests.get(query_url).json()
    try:
        max_response = response["main"]["temp_max"]
        min_response = response["main"]["temp_min"]
        cities_pd.loc[index, "Max Temp"] = max_response
        cities_pd.loc[index, "Min Temp"] = min_response
        print(f'{row[0]} is completed  with Max Temp: {max_response} Min Temp: {min_response}.')
    except:
        print(f'{row[0]} was not processed...')

#     print(json.dumps(response, indent=4, sort_keys=True))

Las Vegas, Nevada is completed  with Max Temp: 75 Min Temp: 68.
Albuquerque, New Mexico is completed  with Max Temp: 66.99 Min Temp: 60.8.
Charlotte, North Carolina is completed  with Max Temp: 60.01 Min Temp: 57.
New York, New York is completed  with Max Temp: 48.2 Min Temp: 44.6.
Columbus, Ohio is completed  with Max Temp: 53.01 Min Temp: 50.
Oklahoma City, Oklahoma is completed  with Max Temp: 68 Min Temp: 64.4.
Portland, Oregon is completed  with Max Temp: 51.01 Min Temp: 44.6.
Philadelphia, Pennsylvania is completed  with Max Temp: 51.01 Min Temp: 46.4.
Nashville-Davidson metropolitan government (balance), Tennessee,None was not processed...
Memphis, Tennessee is completed  with Max Temp: 64 Min Temp: 62.6.
San Antonio, Texas is completed  with Max Temp: 73.99 Min Temp: 69.8.
Dallas, Texas is completed  with Max Temp: 68 Min Temp: 64.99.
El Paso, Texas is completed  with Max Temp: 69.01 Min Temp: 62.6.
Houston, Texas is completed  with Max Temp: 73.99 Min Temp: 70.
Fort Worth, Texas is completed  with Max Temp: 70 Min Temp: 66.99.
Austin, Texas is completed  with Max Temp: 73.99 Min Temp: 70.
Seattle, Washington is completed  with Max Temp: 51.01 Min Temp: 48.
Milwaukee, Wisconsin is completed  with Max Temp: 55.99 Min Temp: 52.
Phoenix, Arizona is completed  with Max Temp: 82.99 Min Temp: 78.01.
Tucson, Arizona is completed  with Max Temp: 86 Min Temp: 82.
San Diego, California is completed  with Max Temp: 81 Min Temp: 73.
Fresno, California is completed  with Max Temp: 71.01 Min Temp: 68.
Denver, Colorado is completed  with Max Temp: 64.99 Min Temp: 55.
San Jose, California is completed  with Max Temp: 73 Min Temp: 62.6.
San Francisco, California is completed  with Max Temp: 68 Min Temp: 62.01.
Los Angeles, California is completed  with Max Temp: 84.99 Min Temp: 69.8.
Washington, District of Columbia is completed  with Max Temp: 48 Min Temp: 42.8.
Jacksonville, Florida is completed  with Max Temp: 82 Min Temp: 77.
Indianapolis city (balance), Indiana,None was not processed...
Chicago, Illinois is completed  with Max Temp: 55.99 Min Temp: 53.6.
Louisville/Jefferson County metro government (balance), Kentucky,None was not processed...
Baltimore, Maryland is completed  with Max Temp: 48 Min Temp: 46.
Boston, Massachusetts is completed  with Max Temp: 44.01 Min Temp: 37.4.
Detroit, Michigan is completed  with Max Temp: 50 Min Temp: 46.4.

In [11]:
cities_pd.head()

,City_State,Clean_City,Population,Lat,Lng,Max Temp,Min Temp
0,"Las Vegas, Nevada",Las Vegas,626637.0,36.169941,-115.139830,75.00,68.0
1,"Albuquerque, New Mexico",Albuquerque,559202.0,35.084386,-106.650422,66.99,60.8
2,"Charlotte, North Carolina",Charlotte,841611.0,35.227087,-80.843127,60.01,57.0
3,"New York, New York",New York,8443713.0,40.712775,-74.005973,48.20,44.6
4,"Columbus, Ohio",Columbus,867628.0,39.961176,-82.998794,53.01,50.0

In [10]:
# clean data frame
cities_pd.dropna(inplace=True)
cities_pd.head()

,City_State,Clean_City,Population,Lat,Lng,Max Temp,Min Temp
0,"Las Vegas, Nevada",Las Vegas,626637.0,36.169941,-115.139830,75.00,68.0
1,"Albuquerque, New Mexico",Albuquerque,559202.0,35.084386,-106.650422,66.99,60.8
2,"Charlotte, North Carolina",Charlotte,841611.0,35.227087,-80.843127,60.01,57.0
3,"New York, New York",New York,8443713.0,40.712775,-74.005973,48.20,44.6
4,"Columbus, Ohio",Columbus,867628.0,39.961176,-82.998794,53.01,50.0

In [ ]:
# Create a heat map using Temperature as weight

In [ ]:
# Great box plots for min and max temperatures to identify outliers visually

In [ ]:
# Remove Outliers and build new data frame and clean csv file