In [11]:
# Dependencies
import pandas as pd
import requests
import json

# OpenWeather & gmaps API Keys
from config import open_weather_key

cities_pd = pd.read_csv("../Resources/census_city.csv")

# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"

cities_pd.head(1000)

,Unnamed: 0,City_State,Population,Lat,Lng
0,2838,"Las Vegas, Nevada",626637,36.169941,-115.139830
1,3411,"Albuquerque, New Mexico",559202,35.084386,-106.650422
2,4321,"Charlotte, North Carolina",841611,35.227087,-80.843127
3,4439,"New York, New York",8443713,40.712775,-74.005973
4,6654,"Columbus, Ohio",867628,39.961176,-82.998794
5,6919,"Oklahoma City, Oklahoma",637284,35.467560,-97.516428
6,8455,"Portland, Oregon",639387,45.505106,-122.675026
7,10395,"Philadelphia, Pennsylvania",1575522,39.952584,-75.165222
8,10823,"Nashville, Tennessee",660062,36.149258,-86.757566
9,11491,"Memphis, Tennessee",653248,35.149534,-90.048980
10,11553,"San Antonio, Texas",1486521,29.424122,-98.493628
11,11678,"Dallas, Texas",1318806,32.776664,-96.796988
12,11728,"El Paso, Texas",680354,31.761878,-106.485022
13,11734,"Houston, Texas",2295982,29.760427,-95.369803
14,12553,"Fort Worth, Texas",855786,32.755488,-97.330766
15,12570,"Austin, Texas",935755,30.267153,-97.743061
16,13795,"Seattle, Washington",708823,47.606209,-122.332071
17,15595,"Milwaukee, Wisconsin",596886,43.038902,-87.906474
18,17389,"Phoenix, Arizona",1610071,33.448377,-112.074037
19,17477,"Tucson, Arizona",539216,32.222607,-110.974711
20,18899,"San Diego, California",1401932,32.715738,-117.161084
21,19104,"Fresno, California",522277,36.737798,-119.787125
22,19480,"Denver, Colorado",693417,39.739236,-104.990251
23,19803,"San Jose, California",1026658,37.338208,-121.886329
24,19805,"San Francisco, California",870044,37.774929,-122.419415
25,20022,"Los Angeles, California",3959657,34.052234,-118.243685
26,20911,"Washington, District of Columbia",684498,38.903886,-77.010602
27,21756,"Jacksonville, Florida",878907,30.332184,-81.655651
28,23494,"Indianapolis, Indiana",857637,39.768403,-86.158068
29,23811,"Chicago, Illinois",2718555,41.878114,-87.629798
30,26958,"Louisville, Kentucky",617032,38.251986,-85.759141
31,27002,"Baltimore, Maryland",614700,39.290385,-76.612189
32,28450,"Boston, Massachusetts",679413,42.360083,-71.058880
33,28554,"Detroit, Michigan",677155,42.331427,-83.045754