In [1]:
# Dependencies
import pandas as pd
import requests
import json
import numpy as np


# OpenWeather & gmaps API Keys
from config import (api_key,gkey)

cities_pd = pd.read_csv("../Resources/census_city.csv")

# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = 'imperial'

# delete the unamed index column
del cities_pd['Unnamed: 0']

cities_pd.head()

                City_State   Clean_City  Population        Lat        Lng
0    Kansas City, Missouri  Kansas City    481417.0  39.099727 -94.578567
1          Omaha, Nebraska        Omaha    465112.0  41.256537 -95.934503
2        Lincoln, Nebraska      Lincoln    280849.0  40.813616 -96.702596
3      St. Louis, Missouri    St. Louis    311273.0  38.627003 -90.199404
4  Jersey City, New Jersey  Jersey City    261746.0  40.717754 -74.043143

In [2]:
# Pull in tempatures into a list to add to dataframe

cities_pd["Max Temp"] = np.nan
cities_pd["Min Temp"] = np.nan

base_url = f"{url}appid={api_key}&units={units}&q="

for index, row in cities_pd.iterrows():
    query_url = base_url + row[1]
    response = requests.get(query_url).json()
    try:
        max_response = response["main"]["temp_max"]
        min_response = response["main"]["temp_min"]
        cities_pd.loc[index, "Max Temp"] = max_response
        cities_pd.loc[index, "Min Temp"] = min_response
        print(f'{row[0]} is completed  with Max Temp: {max_response} Min Temp: {min_response}.')
    except:
        print(f'{row[0]} was not processed...')

#     print(json.dumps(response, indent=4, sort_keys=True))

Kansas City, Missouri is completed  with Max Temp: 66.99 Min Temp: 64.
Omaha, Nebraska is completed  with Max Temp: 66 Min Temp: 62.6.
Lincoln, Nebraska is completed  with Max Temp: 66 Min Temp: 62.6.
St. Louis, Missouri is completed  with Max Temp: 63 Min Temp: 59.
Jersey City, New Jersey is completed  with Max Temp: 48.2 Min Temp: 44.01.
Henderson, Nevada is completed  with Max Temp: 75.99 Min Temp: 71.6.
Las Vegas, Nevada is completed  with Max Temp: 75.99 Min Temp: 73.
Newark, New Jersey is completed  with Max Temp: 48 Min Temp: 44.01.
Albuquerque, New Mexico is completed  with Max Temp: 68 Min Temp: 60.8.
Buffalo, New York is completed  with Max Temp: 46.99 Min Temp: 43.
Charlotte, North Carolina is completed  with Max Temp: 60.01 Min Temp: 57.
New York, New York is completed  with Max Temp: 48.2 Min Temp: 44.01.
Raleigh, North Carolina is completed  with Max Temp: 62.01 Min Temp: 57.
Durham, North Carolina is completed  with Max Temp: 59 Min Temp: 57.
Greensboro, North Carolina is completed  with Max Temp: 57 Min Temp: 55.
Toledo, Ohio is completed  with Max Temp: 64 Min Temp: 64.
Cincinnati, Ohio is completed  with Max Temp: 55.99 Min Temp: 53.01.
Cleveland, Ohio is completed  with Max Temp: 50 Min Temp: 44.6.
Columbus, Ohio is completed  with Max Temp: 54 Min Temp: 50.
Oklahoma City, Oklahoma is completed  with Max Temp: 69.01 Min Temp: 64.4.
Tulsa, Oklahoma is completed  with Max Temp: 66.99 Min Temp: 63.
Portland, Oregon is completed  with Max Temp: 53.01 Min Temp: 46.4.
Pittsburgh, Pennsylvania is completed  with Max Temp: 51.01 Min Temp: 46.99.
Philadelphia, Pennsylvania is completed  with Max Temp: 48.99 Min Temp: 46.
Nashville-Davidson metropolitan government (balance), Tennessee,None was not processed...
Plano, Texas is completed  with Max Temp: 69.01 Min Temp: 66.
Lubbock, Texas is completed  with Max Temp: 80.01 Min Temp: 77.
Memphis, Tennessee is completed  with Max Temp: 64.99 Min Temp: 62.6.
San Antonio, Texas is completed  with Max Temp: 75.2 Min Temp: 71.01.
Dallas, Texas is completed  with Max Temp: 69.8 Min Temp: 66.
El Paso, Texas is completed  with Max Temp: 69.01 Min Temp: 62.6.
Houston, Texas is completed  with Max Temp: 73 Min Temp: 69.8.
Corpus Christi, Texas is completed  with Max Temp: 75.2 Min Temp: 73.
Laredo, Texas is completed  with Max Temp: 75.2 Min Temp: 71.6.
Fort Worth, Texas is completed  with Max Temp: 71.01 Min Temp: 69.01.
Austin, Texas is completed  with Max Temp: 75 Min Temp: 71.01.
Virginia Beach, Virginia is completed  with Max Temp: 57 Min Temp: 55.
Arlington, Texas is completed  with Max Temp: 70 Min Temp: 66.2.
Seattle, Washington is completed  with Max Temp: 52 Min Temp: 48.
Madison, Wisconsin is completed  with Max Temp: 66.99 Min Temp: 61.
Milwaukee, Wisconsin is completed  with Max Temp: 55.4 Min Temp: 53.01.
San Juan zona urbana, Puerto Rico,None was not processed...
Anchorage municipality, Alaska,None is completed  with Max Temp: 14 Min Temp: 10.99.
Mesa, Arizona is completed  with Max Temp: 84 Min Temp: 79.
Phoenix, Arizona is completed  with Max Temp: 84 Min Temp: 80.01.
Tucson, Arizona is completed  with Max Temp: 87.01 Min Temp: 82.99.
Stockton, California is completed  with Max Temp: 71.6 Min Temp: 68.
Long Beach, California is completed  with Max Temp: 75.99 Min Temp: 68.
Bakersfield, California is completed  with Max Temp: 73.99 Min Temp: 69.8.
Chula Vista, California is completed  with Max Temp: 82.99 Min Temp: 72.
Riverside, California is completed  with Max Temp: 86 Min Temp: 84.99.
San Diego, California is completed  with Max Temp: 82 Min Temp: 72.
Anaheim, California is completed  with Max Temp: 80.01 Min Temp: 75.2.
Fresno, California is completed  with Max Temp: 72 Min Temp: 69.8.
Oakland, California is completed  with Max Temp: 48.99 Min Temp: 46.
Aurora, Colorado is completed  with Max Temp: 62.01 Min Temp: 55.
Colorado Springs, Colorado is completed  with Max Temp: 66.2 Min Temp: 60.01.
Denver, Colorado is completed  with Max Temp: 63 Min Temp: 55.
Irvine, California is completed  with Max Temp: 82 Min Temp: 78.01.
San Jose, California is completed  with Max Temp: 73.99 Min Temp: 68.
San Francisco, California is completed  with Max Temp: 70 Min Temp: 62.6.
Sacramento, California is completed  with Max Temp: 72 Min Temp: 68.
Santa Ana, California is completed  with Max Temp: 81 Min Temp: 75.2.
Los Angeles, California is completed  with Max Temp: 86 Min Temp: 71.6.
Miami, Florida is completed  with Max Temp: 88 Min Temp: 82.
St. Petersburg, Florida is completed  with Max Temp: 39.99 Min Temp: 35.6.
Orlando, Florida is completed  with Max Temp: 86 Min Temp: 82.
Tampa, Florida is completed  with Max Temp: 84.2 Min Temp: 82.99.
Washington, District of Columbia is completed  with Max Temp: 50 Min Temp: 42.8.
Atlanta, Georgia is completed  with Max Temp: 64.4 Min Temp: 60.8.
Jacksonville, Florida is completed  with Max Temp: 84 Min Temp: 75.
Urban Honolulu CDP, Hawaii,None was not processed...
Indianapolis city (balance), Indiana,None was not processed...
Chicago, Illinois is completed  with Max Temp: 57 Min Temp: 55.99.
Fort Wayne, Indiana is completed  with Max Temp: 53.6 Min Temp: 51.8.
Wichita, Kansas is completed  with Max Temp: 64.99 Min Temp: 62.6.
Lexington-Fayette urban county, Kentucky,None was not processed...
Louisville/Jefferson County metro government (balance), Kentucky,None was not processed...
Baltimore, Maryland is completed  with Max Temp: 48.99 Min Temp: 46.
New Orleans, Louisiana is completed  with Max Temp: 68 Min Temp: 64.99.
St. Paul, Minnesota is completed  with Max Temp: 55.99 Min Temp: 53.01.
Minneapolis, Minnesota is completed  with Max Temp: 55.99 Min Temp: 53.01.
Boston, Massachusetts is completed  with Max Temp: 44.01 Min Temp: 37.4.
Detroit, Michigan is completed  with Max Temp: 50 Min Temp: 46.4.

In [3]:
cities_pd.head()

,City_State,Clean_City,Population,Lat,Lng,Max Temp,Min Temp
0,"Kansas City, Missouri",Kansas City,481417.0,39.099727,-94.578567,66.99,64.00
1,"Omaha, Nebraska",Omaha,465112.0,41.256537,-95.934503,66.00,62.60
2,"Lincoln, Nebraska",Lincoln,280849.0,40.813616,-96.702596,66.00,62.60
3,"St. Louis, Missouri",St. Louis,311273.0,38.627003,-90.199404,63.00,59.00
4,"Jersey City, New Jersey",Jersey City,261746.0,40.717754,-74.043143,48.20,44.01

In [4]:
# clean data frame
cities_pd.dropna(inplace=True)
cities_pd.head()

,City_State,Clean_City,Population,Lat,Lng,Max Temp,Min Temp
0,"Kansas City, Missouri",Kansas City,481417.0,39.099727,-94.578567,66.99,64.00
1,"Omaha, Nebraska",Omaha,465112.0,41.256537,-95.934503,66.00,62.60
2,"Lincoln, Nebraska",Lincoln,280849.0,40.813616,-96.702596,66.00,62.60
3,"St. Louis, Missouri",St. Louis,311273.0,38.627003,-90.199404,63.00,59.00
4,"Jersey City, New Jersey",Jersey City,261746.0,40.717754,-74.043143,48.20,44.01

In [6]:
# export to csv
cities_pd.to_csv(r'..\resources\weather_city.csv', encoding="utf-8", index=False, header=True)

In [ ]:
# Create a heat map using Temperature as weight

In [ ]:
# Great box plots for min and max temperatures to identify outliers visually

In [ ]:
# Remove Outliers and build new data frame and clean csv file

In [ ]:
# Rather than remove outliers - use >< for temps.