In [1]:
# Dependencies
import pandas as pd
import requests
from census import Census
import json

# Census & gmaps API Keys
from config import (api_key,gkey)

# Build the endpoint URL
base_url = ('https://maps.googleapis.com/maps/api/geocode/json?')


c = Census(api_key, year=2018)

In [2]:
# Get Census Population Data for cities
census_data = c.acs5.get(("NAME", "B01003_001E"), {'for': 'place:*'})

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column Reordering
census_df = census_df.rename(columns={"B01003_001E": "Population",
                                      "NAME": "City", "place": "Place"})

len(census_df)

29573

In [3]:
# create df of cities where the population is greater than 500000
big_city_df = census_df.loc[census_df['Population'] > 500000]
                              
big_city_df.head()

                                City  Population state  Place
2838          Las Vegas city, Nevada    626637.0    32  40000
3411    Albuquerque city, New Mexico    559202.0    35  02000
4321  Charlotte city, North Carolina    841611.0    37  12000
4439         New York city, New York   8443713.0    36  51000
6654             Columbus city, Ohio    867628.0    39  18000

In [4]:
# Insert a Clean City column at the end to get rid of the state
big_city_df = big_city_df.assign(Clean_City = big_city_df["City"].str.split(' city').str[0])

big_city_df.head()

                                City  Population state  Place   Clean_City
2838          Las Vegas city, Nevada    626637.0    32  40000    Las Vegas
3411    Albuquerque city, New Mexico    559202.0    35  02000  Albuquerque
4321  Charlotte city, North Carolina    841611.0    37  12000    Charlotte
4439         New York city, New York   8443713.0    36  51000     New York
6654             Columbus city, Ohio    867628.0    39  18000     Columbus