In [15]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
# Load regs and incentives list csv
reg_incent_toload = "../Resources/ev_incentives_by_state.csv"

reg_incent_df = pd.read_csv(reg_incent_toload)
reg_incent_df

            Jurisdiction  Incentives Registrations
0                Alabama           6         1,450
1                 Alaska           1           530
2                Arizona          19        15,000
3               Arkansas           4           520
4             California         104       256,800
5               Colorado          35        11,700
6            Connecticut          24         4,450
7               Delaware          10           720
8   District of Columbia          11           970
9                Florida          13        25,200
10               Georgia           6        15,300
11                Hawaii          12         6,590
12                 Idaho           7         1,080
13              Illinois          14        12,400
14               Indiana           8         3,030
15                  Iowa          14         1,090
16                Kansas           2         1,610
17              Kentucky           2         1,240
18             Louisiana           5         1,110
19                 Maine           9           750
20              Maryland          19         8,080
21         Massachusetts          26         9,760
22              Michigan          10         4,210
23             Minnesota          20         4,740
24           Mississippi           4           390
25              Missouri           7         3,450
26               Montana           5           500
27              Nebraska           5           850
28                Nevada          14         4,810
29         New Hampshire          13         1,120
30            New Jersey          19        12,100
31            New Mexico          13         1,260
32              New York          22        16,600
33        North Carolina          19         7,320
34          North Dakota           3           170
35                  Ohio          12         6,510
36              Oklahoma          12         3,290
37                Oregon          27        12,400
38          Pennsylvania          15         7,990
39          Rhode Island          13           600
40        South Carolina           6         1,950
41          South Dakota           2           260
42             Tennessee           3         3,980
43                 Texas          16        22,600
44                  Utah          20         5,220
45               Vermont          22         1,060
46              Virginia          18         8,370
47            Washington          26        28,400
48         West Virginia           6           230
49             Wisconsin          18         3,680
50               Wyoming           6           170

In [17]:
incentives = reg_incent_df["Incentives"].tolist()
registrations = reg_incent_df["Registrations"].tolist()